.navigation-grocery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-items {
    list-style-type: none;
    padding: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.navigation-items li {
    display: inline;
    padding: 10px;
    justify-content: space-evenly;
}

.navigation-items li:first-child {
    border-right: 1px solid black;
}

.navigation-items li:last-child {
    border-left: 1px solid black;
}

header {
    text-align: center;
}

.circle {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.col-50 {
    display: flex;
    flex: 50%;
}

.col-75 {
    display: flex;
    flex: 75%;
    flex-direction: column;
}

.col-25 {
    display: flex;
    flex: 25%;
}

.col-100 {
    display: flex;
    width: 100%;
}

nav img {
    width: 10%;
}